.btn-login{
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    font-weight: bold;
}
.btn-login:focus{
    outline: none;
}
.btn-login:hover{
    background-color: #f5d0fe !important;
    transition: all 0.5s;
    color: #701a75 !important;
}
.btn-register:hover{
    background-color: #f5d0fe !important;
    transition: all 0.5s;
    color: #701a75 !important;
}