
.infoFilm{
display: flex;
justify-content: space-between;

}
.infoFilm p {
  font-size: 1em;
}


.seat{
    width: 35px;
    height: 35px;
    font-size: 12px;
    border-radius: 5px;
    margin: 2px;
    background-color: #3e515d !important;
  }
  .seat::before{
    border: 3px solid orange;
    background: orange ;
  }

  .vipSeat{
    background-color: rgb(228, 45, 121) !important;
    width: 35px;
    height: 35px;
    margin: 2px;

    border-radius: 5px;
    color: #000;
    cursor: pointer;
}
  
  
.bookingSeat {
    background: rgb(74, 207, 69) !important;
    border: 3px solid rgb(100, 244, 100);
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    margin: 2px;

  
  }

.bookedSeat {
    border: 3px solid orange;
    background: orange !important;
    color: #000;
    cursor: no-drop !important;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    margin: 2px;
  
  }

  .formBookTicket p {
    padding: 1em 0;
    margin: 0;
  }

  .formBookTicket{
    background: rgba( 3, 3, 3, 0.15 );
box-shadow: 0 8px 32px 0 rgba(203, 203, 208, 0.482);
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
