/* carousel movie */
button.slick-arrow.slick-next::before, button.slick-arrow.slick-prev::before  {
    font-size: 50px;
    opacity: 1;
}

button.slick-arrow.slick-prev{
    left: -50px;
}

.listMovie button.slick-arrow.slick-next::before, .listMovie button.slick-arrow.slick-prev::before {
    color: gray;
}

.listMovie ul.slick-dots {
    visibility: hidden;
}

.carousel {
    
}
.carousel .slick-dots li button:before {
    font-size: 17px;
}

/* lịch chiếu */
.lichChieu {
    width:60%;
    margin: auto; 
    box-shadow:1px 0px 10px; 
    background-color:white;
}

/* footer */
.contact{
    background-color: #fcf6dc;
}

.footer {
    background: url('https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-top.png');
    height: 100px;
}

.info {
    color: black;
}

.contact i{
    font-size: 20px;
}
