/* carousel movie */
button.slick-arrow.slick-next::before, button.slick-arrow.slick-prev::before  {
    font-size: 50px;
    opacity: 1;
}

button.slick-arrow.slick-prev{
    left: -50px;
}

.listMovie button.slick-arrow.slick-next::before, .listMovie button.slick-arrow.slick-prev::before {
    color: gray;
}

.listMovie ul.slick-dots {
    visibility: hidden;
}

.listMovie .slick-dots li button:before {
    font-size: 17px;
}