@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&family=Quicksand:wght@300;400;500;700&family=Roboto:wght@100;300;500;700&display=swap');

body {
  margin: 0;  
  font-family: 'Quicksand', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
html{
  scroll-behavior: smooth;
}

code {
  font-family: 'Quicksand', sans-serif;

}
